workflows/n8n-2-stripe-confirmation-supabase.json
{
    "name": "Stripe Confirmation → Supabase + Email + Calendar",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                -352,
                408
            ],
            "id": "error-trigger",
            "name": "Error Trigger"
        },
        {
            "parameters": {
                "jsCode": "const errorData = $input.first().json;\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    error: {\n      message: errorData.error?.message || errorData.message || 'Unknown error',\n      node: errorData.error?.node?.name || 'Unknown',\n      stack: errorData.error?.stack || null\n    },\n    workflow: {\n      id: $workflow.id,\n      name: $workflow.name\n    },\n    original_data: errorData,\n    recovery_attempts: 0\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -200,
                408
            ],
            "id": "prepare-dlq-data",
            "name": "Prepare DLQ Data"
        },
        {
            "parameters": {
                "mode": "jsonToBinary",
                "options": {
                    "fileName": "={{ 'failed-' + $now.format('yyyyMMdd-HHmmss') + '.json' }}"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                -50,
                408
            ],
            "id": "convert-to-file",
            "name": "Convert to File"
        },
        {
            "parameters": {
                "operation": "write",
                "fileName": "={{ '/files/dlq/failed-' + $now.format('yyyyMMdd-HHmmss') + '.json' }}",
                "options": {}
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                100,
                408
            ],
            "id": "save-dlq",
            "name": "Save to DLQ"
        },
        {
            "parameters": {
                "chatId": "7408240811",
                "text": "=🚨 BOOKING FAILED - DLQ ACTIVATED!\n\nWorkflow: {{ $workflow.name }}\nError: {{ $('Error Trigger').first().json.error?.message || $('Error Trigger').first().json.message || 'Unknown' }}\nNode: {{ $('Error Trigger').first().json.error?.node?.name || 'Unknown' }}\nTime: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n\n📁 Saved to: /home/node/.n8n/dlq/\n\n⚠️ Check n8n immediately!",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                96,
                408
            ],
            "id": "telegram-alert",
            "name": "Telegram Alert",
            "credentials": {
                "telegramApi": {
                    "id": "O3M9P0psuAlOvjZg",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stripe-confirmation-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -600,
                -240
            ],
            "id": "webhook",
            "name": "Webhook",
            "webhookId": "45c1830b-9364-4b68-9c7d-e8ea2dade456"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body?.type || $json.type }}",
                            "operation": "equal",
                            "value2": "checkout.session.completed"
                        }
                    ]
                }
            },
            "name": "Filter Event Type",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -400,
                -240
            ],
            "id": "filter-event-type",
            "notes": "CRITICAL: Only process checkout.session.completed events. Ignore payment_intent.succeeded to prevent double bookings."
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first();\nconst rawJson = item.json;\nconst eventData = rawJson.body || rawJson;\n\nif (eventData.type !== 'checkout.session.completed') {\n  return [];\n}\n\n// ========================\n// HELPER FUNCTIONS\n// ========================\nconst formatName = (str) => {\n  if (!str) return 'Pacients';\n  return str.replace(/\\w\\S*/g, (txt) => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase());\n};\n\nconst generateToken = () => {\n  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  let token = '';\n  for (let i = 0; i < 32; i++) {\n    token += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return token;\n};\n\n// ========================\n// EXTRACT STRIPE DATA\n// ========================\nconst dataObject = eventData?.data?.object || {};\nconst metadata = dataObject.metadata || {};\nconst customerDetails = dataObject.customer_details || {};\n\nconst rawName = customerDetails.name || metadata.customer_name || 'Pacients';\nconst customerName = formatName(rawName);\nconst customerEmail = customerDetails.email || metadata.customer_email || 'missing@error.com';\nconst rawPhone = customerDetails.phone || metadata.customer_phone || metadata.phone || '';\nconst amountPaid = ((dataObject.amount_total || 0) / 100).toFixed(2);\nconst bookingDate = metadata.booking_date;\nconst bookingTime = metadata.booking_time;\nconst serviceName = metadata.serviceName || 'Zobārstniecības vizīte';\nconst serviceId = metadata.service_id || null;\nconst serviceDuration = parseInt(metadata.duration) || 60;\nconst clinicId = metadata.clinic_id || 'butkevica';\nconst clinicName = metadata.clinic_name || 'Butkeviča Dental Practice';\nconst pendingBookingId = metadata.pending_booking_id || null;\nconst cancellationToken = generateToken();\n\n// Time calculations - Use Europe/Riga timezone offset (+02:00/+03:00)\n// IMPORTANT: Do NOT use Z suffix as that means UTC, causing 2hr offset\nlet eventStart = null;\nlet eventEnd = null;\n\nif (bookingDate && bookingTime) {\n  // Format as ISO 8601 with explicit timezone offset for Europe/Riga\n  // Note: Latvia uses EET (UTC+2) / EEST (UTC+3 in summer)\n  // Using +02:00 as the standard offset\n  eventStart = `${bookingDate}T${bookingTime}:00+02:00`;\n  const [hours, minutes] = bookingTime.split(':').map(Number);\n  const totalMinutes = hours * 60 + minutes + serviceDuration;\n  const endHours = Math.floor(totalMinutes / 60) % 24;\n  const endMinutes = totalMinutes % 60;\n  const endTime = `${String(endHours).padStart(2, '0')}:${String(endMinutes).padStart(2, '0')}`;\n  eventEnd = `${bookingDate}T${endTime}:00+02:00`;\n}\n\nconst lang = (metadata.language || 'lv').toLowerCase();\nconst bookingRef = 'BK-' + Date.now().toString(36).toUpperCase();\n\nreturn [{\n  json: {\n    customer_name: customerName,\n    customer_email: customerEmail,\n    customer_phone: rawPhone || null,\n    service_id: serviceId,\n    service_name: serviceName,\n    start_time: eventStart,\n    end_time: eventEnd,\n    amount_paid: parseFloat(amountPaid),\n    status: 'confirmed',\n    stripe_session_id: dataObject.id || null,\n    payment_intent_id: dataObject.payment_intent || null,\n    amount_cents: dataObject.amount_total || null,\n    currency: 'EUR',\n    client_reference: bookingRef,\n    cancellation_token: cancellationToken,\n    language: lang,\n    clinic_id: clinicId,\n    clinic_name: clinicName,\n    pending_booking_id: pendingBookingId,\n    booking_date: bookingDate,\n    booking_time: bookingTime,\n    service_duration: serviceDuration,\n    booking_ref: bookingRef\n  }\n}];"
            },
            "name": "Extract Booking Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -200,
                -240
            ],
            "id": "extract-booking-data"
        },
        {
            "parameters": {
                "tableId": "specialists",
                "filterType": "string",
                "filterString": "={{ 'clinic_id=eq.' + $json.clinic_id + '&is_active=eq.true&specialties=cs.{' + $json.service_id + '}' }}"
            },
            "name": "Fetch Qualified Specialists",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                0,
                -240
            ],
            "id": "fetch-specialists",
            "notes": "Fetches specialists from this clinic who can perform this service (specialties array contains service_id)",
            "credentials": {
                "supabaseApi": {
                    "id": "dlNOvdwAbyq59XOl",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// ========================\n// AUTO-ASSIGN SPECIALIST + GENERATE EMAIL\n// ========================\nconst specialists = $input.all();\nconst bookingData = $('Extract Booking Data').first().json;\n\n// Random selection from qualified specialists\nlet specialistId = null;\nlet specialistName = null;\n\nif (specialists.length > 0 && specialists[0].json && specialists[0].json.id) {\n  const validSpecialists = specialists.filter(s => s.json && s.json.id);\n  if (validSpecialists.length > 0) {\n    const randomIndex = Math.floor(Math.random() * validSpecialists.length);\n    const selected = validSpecialists[randomIndex].json;\n    specialistId = selected.id;\n    specialistName = selected.name;\n  }\n}\n\n// ========================\n// CLINIC CONFIGURATION\n// ========================\nconst CLINIC_ADDRESS = 'Demo Street 123, City, Country';\nconst GOOGLE_MAPS_URL = 'https://www.google.com/maps/search/?api=1&query=Demo+Clinic';\nconst CANCELLATION_BASE_URL = 'https://test1-3oj.pages.dev/cancel-booking.html';\n\nconst lang = bookingData.language || 'lv';\nconst bookingDate = bookingData.booking_date;\nconst bookingTime = bookingData.booking_time;\nconst customerName = bookingData.customer_name;\nconst serviceName = bookingData.service_name;\nconst amountPaid = bookingData.amount_paid.toFixed(2);\nconst cancellationToken = bookingData.cancellation_token;\nconst clinicName = bookingData.clinic_name || 'Demo Clinic';\n\n// Calendar link\nconst calStart = `${bookingDate.replace(/-/g, '')}T${bookingTime.replace(':', '')}00Z`;\nconst endTime = bookingData.end_time ? bookingData.end_time.split('T')[1].substring(0, 5).replace(':', '') : bookingTime.replace(':', '');\nconst calEnd = `${bookingDate.replace(/-/g, '')}T${endTime}00Z`;\nconst calTitle = encodeURIComponent(serviceName + ' - ' + clinicName);\nconst calDetails = encodeURIComponent('Jūsu zobārstniecības vizīte\\n\\nAdrese: ' + CLINIC_ADDRESS);\nconst calLocation = encodeURIComponent(CLINIC_ADDRESS);\nconst calendarLink = `https://calendar.google.com/calendar/r/eventedit?text=${calTitle}&dates=${calStart}/${calEnd}&details=${calDetails}&location=${calLocation}`;\n\nconst cancellationLink = `${CANCELLATION_BASE_URL}?token=${cancellationToken}&lang=${lang}`;\n\n// Specialist display text\nconst specialistDisplayLv = specialistName || 'Tiks piešķirts';\nconst specialistDisplayRu = specialistName || 'Будет назначен';\nconst specialistDisplayEn = specialistName || 'To be assigned';\n\n// ========================\n// HTML EMAIL TEMPLATES\n// ========================\nconst commonStyles = `\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; line-height: 1.6; color: #333; background-color: #f1f5f9; margin: 0; padding: 0; }\n  .email-wrapper { max-width: 600px; margin: 40px auto; background: #ffffff; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2, 4px -1px rgba(0, 0, 0, 0.06); }\n  .header { background: #00bfa5; color: white; padding: 30px; text-align: center; }\n  .header h1 { margin: 10px 0 0; font-size: 24px; font-weight: 700; }\n  .tooth-icon { font-size: 32px; display: block; margin-bottom: 5px; }\n  .content { padding: 30px; }\n  .greeting { margin-bottom: 20px; font-size: 16px; }\n  .payment-confirmed { background: #dcfce7; color: #166534; padding: 12px 20px; border-radius: 8px; text-align: center; margin-bottom: 25px; font-weight: 500; font-size: 14px; }\n  .info-title { font-weight: 700; margin-bottom: 15px; color: #1e293b; font-size: 16px; }\n  .info-card { background: #ffffff; border: 1px solid #e2e8f0; border-radius: 8px; overflow: hidden; margin-bottom: 25px; }\n  .info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 0; }\n  .info-item { padding: 15px; border-bottom: 1px solid #e2e8f0; border-right: 1px solid #e2e8f0; }\n  .info-item:nth-child(2n) { border-right: none; }\n  .info-item:nth-last-child(-n+2) { border-bottom: none; }\n  .info-icon { font-size: 18px; margin-right: 8px; vertical-align: middle; }\n  .info-label { color: #64748b; font-size: 12px; text-transform: uppercase; letter-spacing: 0.5px; display: block; margin-bottom: 4px; }\n  .info-value { font-weight: 600; color: #1e293b; font-size: 14px; }\n  .address-box { grid-column: 1 / -1; border-top: 1px solid #e2e8f0; padding: 15px; border-right: none; border-bottom: none !important; }\n  .actions { text-align: center; margin: 30px 0; }\n  .btn { display: inline-block; background: #0d9488; color: white !important; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: 600; margin: 5px; font-size: 14px; }\n  .btn-outline { background: white; color: #0d9488 !important; border: 2px solid #0d9488; padding: 10px 22px; }\n  .warning { background: #fffbeb; border-left: 4px solid #f59e0b; padding: 15px; margin: 25px 0; border-radius: 4px; font-size: 13px; color: #92400e; }\n  .cancel-section { text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e2e8f0; }\n  .cancel-section p { font-size: 13px; color: #94a3b8; margin-bottom: 10px; }\n  .btn-cancel { color: #dc2626 !important; text-decoration: none; font-size: 13px; font-weight: 500; }\n  .footer { text-align: center; margin-top: 30px; color: #94a3b8; font-size: 12px; }\n  \n  /* Mobile Responsiveness */\n  @media only screen and (max-width: 600px) {\n    .email-wrapper { margin: 0; border-radius: 0; }\n    .info-grid { display: block; }\n    .info-item { border-right: none; border-bottom: 1px solid #e2e8f0; }\n    .info-item:last-child { border-bottom: none; }\n    .address-box { border-top: 1px solid #e2e8f0; }\n  }\n`;\n\nlet emailSubject, emailBody;\n\n// Generate Grid Items HTML Helper\nconst renderGridItem = (icon, label, value, isFullWidth = false) => `\n  <div class=\"info-item ${isFullWidth ? 'address-box' : ''}\">\n    <span class=\"info-label\">${label}</span>\n    <div class=\"info-value\"><span class=\"info-icon\">${icon}</span> ${value}</div>\n  </div>\n`;\n\nif (lang === 'lv') {\n  emailSubject = `✅ Vizīte Apstiprināta: ${bookingDate} plkst. ${bookingTime}`;\n  emailBody = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><style>${commonStyles}</style></head><body>\n  <div class=\"email-wrapper\">\n    <div class=\"header\">\n      <span class=\"tooth-icon\">🦷</span>\n      <h1>Vizīte Apstiprināta!</h1>\n    </div>\n    <div class=\"content\">\n      <p class=\"greeting\">Labdien, <strong>${customerName}</strong>!</p>\n      <div class=\"payment-confirmed\">✅ Paldies! Jūsu maksājums <strong>€${amountPaid}</strong> apmērā ir saņemts.</div>\n      \n      <div class=\"info-title\">Jūsu vizītes informācija:</div>\n      <div class=\"info-card\">\n        <div class=\"info-grid\">\n          ${renderGridItem('📅', 'Datums', bookingDate)}\n          ${renderGridItem('⏰', 'Laiks', bookingTime)}\n          ${renderGridItem('🏥', 'Pakalpojums', serviceName)}\n          ${renderGridItem('👨‍⚕️', 'Speciālists', specialistDisplayLv)}\n          ${renderGridItem('📍', 'Adrese', `<a href=\"${GOOGLE_MAPS_URL}\" style=\"color: #0d9488; text-decoration: none;\">${CLINIC_ADDRESS}</a>`, true)}\n        </div>\n      </div>\n\n      <div class=\"actions\">\n        <a href=\"${calendarLink}\" class=\"btn\">📅 Pievienot Kalendāram</a>\n        <a href=\"${GOOGLE_MAPS_URL}\" class=\"btn btn-outline\">📍 Skatīt Kartē</a>\n      </div>\n\n      <div class=\"warning\">\n        <strong>Lūdzu, ņemiet vērā:</strong> Atceļot vizīti mazāk nekā 24 stundas pirms sākuma, rezervācijas maksa €${amountPaid} netiek atgriezta.\n      </div>\n\n      <div class=\"cancel-section\">\n        <p>Nepieciešams atcelt vizīti?</p>\n        <a href=\"${cancellationLink}\" class=\"btn-cancel\">Atcelt Vizīti</a>\n      </div>\n\n      <div class=\"footer\">\n        <p>Ar cieņu,<br><strong>${clinicName}</strong></p>\n      </div>\n    </div>\n  </div>\n  </body></html>`;\n} else if (lang === 'ru') {\n  emailSubject = `✅ Запись подтверждена: ${bookingDate} в ${bookingTime}`;\n  emailBody = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><style>${commonStyles}</style></head><body>\n  <div class=\"email-wrapper\">\n    <div class=\"header\">\n      <span class=\"tooth-icon\">🦷</span>\n      <h1>Запись Подтверждена!</h1>\n    </div>\n    <div class=\"content\">\n      <p class=\"greeting\">Здравствуйте, <strong>${customerName}</strong>!</p>\n      <div class=\"payment-confirmed\">✅ Спасибо! Ваш платёж <strong>€${amountPaid}</strong> получен.</div>\n      \n      <div class=\"info-title\">Информация о записи:</div>\n      <div class=\"info-card\">\n        <div class=\"info-grid\">\n          ${renderGridItem('📅', 'Дата', bookingDate)}\n          ${renderGridItem('⏰', 'Время', bookingTime)}\n          ${renderGridItem('🏥', 'Услуга', serviceName)}\n          ${renderGridItem('👨‍⚕️', 'Специалист', specialistDisplayRu)}\n          ${renderGridItem('📍', 'Адрес', `<a href=\"${GOOGLE_MAPS_URL}\" style=\"color: #0d9488; text-decoration: none;\">${CLINIC_ADDRESS}</a>`, true)}\n        </div>\n      </div>\n\n      <div class=\"actions\">\n        <a href=\"${calendarLink}\" class=\"btn\">📅 Добавить в Календарь</a>\n        <a href=\"${GOOGLE_MAPS_URL}\" class=\"btn btn-outline\">📍 Показать на Карте</a>\n      </div>\n\n      <div class=\"warning\">\n        <strong>Обратите внимание:</strong> При отмене записи менее чем за 24 часа депозит €${amountPaid} не возвращается.\n      </div>\n\n      <div class=\"cancel-section\">\n        <p>Нужно отменить запись?</p>\n        <a href=\"${cancellationLink}\" class=\"btn-cancel\">Отменить Запись</a>\n      </div>\n\n      <div class=\"footer\">\n        <p>С уважением,<br><strong>${clinicName}</strong></p>\n      </div>\n    </div>\n  </div>\n  </body></html>`;\n} else {\n  emailSubject = `✅ Appointment Confirmed: ${bookingDate} at ${bookingTime}`;\n  emailBody = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><style>${commonStyles}</style></head><body>\n  <div class=\"email-wrapper\">\n    <div class=\"header\">\n      <span class=\"tooth-icon\">🦷</span>\n      <h1>Appointment Confirmed!</h1>\n    </div>\n    <div class=\"content\">\n      <p class=\"greeting\">Hi <strong>${customerName}</strong>,</p>\n      <div class=\"payment-confirmed\">✅ Thank you! Your payment of <strong>€${amountPaid}</strong> has been received.</div>\n      \n      <div class=\"info-title\">Your appointment details:</div>\n      <div class=\"info-card\">\n        <div class=\"info-grid\">\n          ${renderGridItem('📅', 'Date', bookingDate)}\n          ${renderGridItem('⏰', 'Time', bookingTime)}\n          ${renderGridItem('🏥', 'Service', serviceName)}\n          ${renderGridItem('👨‍⚕️', 'Specialist', specialistDisplayEn)}\n          ${renderGridItem('📍', 'Address', `<a href=\"${GOOGLE_MAPS_URL}\" style=\"color: #0d9488; text-decoration: none;\">${CLINIC_ADDRESS}</a>`, true)}\n        </div>\n      </div>\n\n      <div class=\"actions\">\n        <a href=\"${calendarLink}\" class=\"btn\">📅 Add to Calendar</a>\n        <a href=\"${GOOGLE_MAPS_URL}\" class=\"btn btn-outline\">📍 View on Map</a>\n      </div>\n\n      <div class=\"warning\">\n        <strong>Please note:</strong> Cancellations made less than 24 hours before your appointment will not receive a refund of the €${amountPaid} deposit.\n      </div>\n\n      <div class=\"cancel-section\">\n        <p>Need to cancel your appointment?</p>\n        <a href=\"${cancellationLink}\" class=\"btn-cancel\">Cancel Appointment</a>\n      </div>\n\n      <div class=\"footer\">\n        <p>Best regards,<br><strong>${clinicName}</strong></p>\n      </div>\n    </div>\n  </div>\n  </body></html>`;\n}\n\n// Calendar description\nconst calendarDescription = `🦷 ${serviceName}\\n👤 ${customerName}\\n📧 ${bookingData.customer_email}${bookingData.customer_phone ? '\\n📞 ' + bookingData.customer_phone : ''}${specialistName ? '\\n👨‍⚕️ ' + specialistName : ''}\\n\\n⏰ Duration: ${bookingData.service_duration} min`;\nconst calendarSummary = `${serviceName} - ${customerName}${specialistName ? ' (' + specialistName + ')' : ''}`;\n\nreturn [{\n  json: {\n    ...bookingData,\n    specialist_id: specialistId,\n    specialist_name: specialistName,\n    auto_assigned: specialistId !== null,\n    email_subject: emailSubject,\n    email_body: emailBody,\n    calendar_summary: calendarSummary,\n    calendar_description: calendarDescription,\n    calendar_start: bookingData.start_time,\n    calendar_end: bookingData.end_time\n  }\n}];"
            },
            "name": "Auto-Assign Specialist",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                -240
            ],
            "id": "auto-assign-specialist",
            "notes": "Randomly selects a qualified specialist + generates localized email HTML"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.pending_booking_id }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Has Pending Booking?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                400,
                -240
            ],
            "id": "check-pending-id",
            "notes": "Route 1 (true): Update existing pending booking\nRoute 2 (false): Check duplicates then create new"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "bookings",
                "filterType": "string",
                "filterString": "={{ 'id=eq.' + $json.pending_booking_id }}",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "status",
                            "fieldValue": "confirmed"
                        },
                        {
                            "fieldId": "customer_name",
                            "fieldValue": "={{ $json.customer_name }}"
                        },
                        {
                            "fieldId": "customer_email",
                            "fieldValue": "={{ $json.customer_email }}"
                        },
                        {
                            "fieldId": "customer_phone",
                            "fieldValue": "={{ $json.customer_phone }}"
                        },
                        {
                            "fieldId": "stripe_session_id",
                            "fieldValue": "={{ $json.stripe_session_id }}"
                        },
                        {
                            "fieldId": "payment_intent_id",
                            "fieldValue": "={{ $json.payment_intent_id }}"
                        },
                        {
                            "fieldId": "amount_paid",
                            "fieldValue": "={{ $json.amount_paid }}"
                        },
                        {
                            "fieldId": "amount_cents",
                            "fieldValue": "={{ $json.amount_cents }}"
                        },
                        {
                            "fieldId": "client_reference",
                            "fieldValue": "={{ $json.client_reference }}"
                        },
                        {
                            "fieldId": "cancellation_token",
                            "fieldValue": "={{ $json.cancellation_token }}"
                        },
                        {
                            "fieldId": "specialist_id",
                            "fieldValue": "={{ $json.specialist_id }}"
                        }
                    ]
                }
            },
            "name": "Update Pending Booking",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                600,
                -400
            ],
            "id": "update-pending-booking",
            "notes": "Updates existing pending booking to confirmed status with payment details",
            "credentials": {
                "supabaseApi": {
                    "id": "dlNOvdwAbyq59XOl",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "bookings",
                "filterType": "string",
                "filterString": "={{ 'stripe_session_id=eq.' + $json.stripe_session_id }}"
            },
            "name": "Check Existing Booking",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                600,
                -100
            ],
            "id": "check-existing-booking",
            "notes": "DEDUPLICATION: Check if booking with this stripe_session_id already exists",
            "credentials": {
                "supabaseApi": {
                    "id": "dlNOvdwAbyq59XOl",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Deduplication check\nconst existingBookings = $input.all();\nconst bookingData = $('Auto-Assign Specialist').first().json;\n\nconst hasExisting = existingBookings.length > 0 && \n                   existingBookings[0].json && \n                   existingBookings[0].json.id;\n\nreturn [{\n  json: {\n    ...bookingData,\n    _should_create: !hasExisting,\n    _existing_id: hasExisting ? existingBookings[0].json.id : null\n  }\n}];"
            },
            "name": "Deduplication Check",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                -100
            ],
            "id": "dedup-check"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json._should_create }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Should Create?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1000,
                -100
            ],
            "id": "should-create"
        },
        {
            "parameters": {
                "tableId": "bookings",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "customer_name",
                            "fieldValue": "={{ $json.customer_name }}"
                        },
                        {
                            "fieldId": "customer_email",
                            "fieldValue": "={{ $json.customer_email }}"
                        },
                        {
                            "fieldId": "customer_phone",
                            "fieldValue": "={{ $json.customer_phone }}"
                        },
                        {
                            "fieldId": "service_id",
                            "fieldValue": "={{ $json.service_id }}"
                        },
                        {
                            "fieldId": "service_name",
                            "fieldValue": "={{ $json.service_name }}"
                        },
                        {
                            "fieldId": "start_time",
                            "fieldValue": "={{ $json.start_time }}"
                        },
                        {
                            "fieldId": "end_time",
                            "fieldValue": "={{ $json.end_time }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "confirmed"
                        },
                        {
                            "fieldId": "amount_paid",
                            "fieldValue": "={{ $json.amount_paid }}"
                        },
                        {
                            "fieldId": "stripe_session_id",
                            "fieldValue": "={{ $json.stripe_session_id }}"
                        },
                        {
                            "fieldId": "payment_intent_id",
                            "fieldValue": "={{ $json.payment_intent_id }}"
                        },
                        {
                            "fieldId": "amount_cents",
                            "fieldValue": "={{ $json.amount_cents }}"
                        },
                        {
                            "fieldId": "currency",
                            "fieldValue": "EUR"
                        },
                        {
                            "fieldId": "client_reference",
                            "fieldValue": "={{ $json.client_reference }}"
                        },
                        {
                            "fieldId": "cancellation_token",
                            "fieldValue": "={{ $json.cancellation_token }}"
                        },
                        {
                            "fieldId": "language",
                            "fieldValue": "={{ $json.language }}"
                        },
                        {
                            "fieldId": "clinic_id",
                            "fieldValue": "={{ $json.clinic_id }}"
                        },
                        {
                            "fieldId": "specialist_id",
                            "fieldValue": "={{ $json.specialist_id }}"
                        },
                        {
                            "fieldId": "source",
                            "fieldValue": "widget"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1200,
                -160
            ],
            "id": "create-new-booking",
            "name": "Create New Booking",
            "continueOnFail": true,
            "credentials": {
                "supabaseApi": {
                    "id": "dlNOvdwAbyq59XOl",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Duplicate detected - pass through for email\nreturn [{ json: $('Auto-Assign Specialist').first().json }];"
            },
            "name": "Skip Duplicate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                -40
            ],
            "id": "skip-duplicate"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Auto-Assign Specialist').first().json.customer_email }}",
                "subject": "={{ $('Auto-Assign Specialist').first().json.email_subject }}",
                "emailType": "html",
                "message": "={{ $('Auto-Assign Specialist').first().json.email_body }}",
                "options": {}
            },
            "name": "Send Confirmation Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1000,
                -400
            ],
            "id": "send-email",
            "credentials": {
                "gmailOAuth2": {
                    "id": "bsHsQyITlAn3DBQk",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $('Auto-Assign Specialist').first().json.calendar_start }}",
                "end": "={{ $('Auto-Assign Specialist').first().json.calendar_end }}",
                "additionalFields": {
                    "description": "={{ $('Auto-Assign Specialist').first().json.calendar_description }}",
                    "summary": "={{ $('Auto-Assign Specialist').first().json.calendar_summary }}",
                    "useDefaultReminders": true
                }
            },
            "name": "Add to Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3,
            "position": [
                1200,
                -400
            ],
            "id": "add-calendar",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Pass through after new booking creation\nreturn [{ json: $('Auto-Assign Specialist').first().json }];"
            },
            "name": "Merge After Create",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                -100
            ],
            "id": "merge-after-create"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Auto-Assign Specialist').first().json.customer_email }}",
                "subject": "={{ $('Auto-Assign Specialist').first().json.email_subject }}",
                "emailType": "html",
                "message": "={{ $('Auto-Assign Specialist').first().json.email_body }}",
                "options": {}
            },
            "name": "Send Email (New Booking)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1600,
                -100
            ],
            "id": "send-email-new",
            "credentials": {
                "gmailOAuth2": {
                    "id": "bsHsQyITlAn3DBQk",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $('Auto-Assign Specialist').first().json.calendar_start }}",
                "end": "={{ $('Auto-Assign Specialist').first().json.calendar_end }}",
                "additionalFields": {
                    "description": "={{ $('Auto-Assign Specialist').first().json.calendar_description }}",
                    "summary": "={{ $('Auto-Assign Specialist').first().json.calendar_summary }}",
                    "useDefaultReminders": true
                }
            },
            "name": "Add Calendar (New Booking)",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3,
            "position": [
                1800,
                -100
            ],
            "id": "add-calendar-new",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            }
        }
    ],
    "connections": {
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "Prepare DLQ Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare DLQ Data": {
            "main": [
                [
                    {
                        "node": "Convert to File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File": {
            "main": [
                [
                    {
                        "node": "Save to DLQ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to DLQ": {
            "main": [
                [
                    {
                        "node": "Telegram Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Filter Event Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Event Type": {
            "main": [
                [
                    {
                        "node": "Extract Booking Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Extract Booking Data": {
            "main": [
                [
                    {
                        "node": "Fetch Qualified Specialists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Qualified Specialists": {
            "main": [
                [
                    {
                        "node": "Auto-Assign Specialist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auto-Assign Specialist": {
            "main": [
                [
                    {
                        "node": "Has Pending Booking?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending Booking?": {
            "main": [
                [
                    {
                        "node": "Update Pending Booking",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Check Existing Booking",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Pending Booking": {
            "main": [
                [
                    {
                        "node": "Send Confirmation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Confirmation Email": {
            "main": [
                [
                    {
                        "node": "Add to Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Existing Booking": {
            "main": [
                [
                    {
                        "node": "Deduplication Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Deduplication Check": {
            "main": [
                [
                    {
                        "node": "Should Create?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Should Create?": {
            "main": [
                [
                    {
                        "node": "Create New Booking",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Duplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create New Booking": {
            "main": [
                [
                    {
                        "node": "Merge After Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip Duplicate": {
            "main": [
                [
                    {
                        "node": "Merge After Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge After Create": {
            "main": [
                [
                    {
                        "node": "Send Email (New Booking)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email (New Booking)": {
            "main": [
                [
                    {
                        "node": "Add Calendar (New Booking)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "edb1e678c20bb2dc211861028fa5a0da62086103c19f921423bcdc604ef1f332"
    }
}