workflows/n8n-4-check-availability-simple.json
{
    "name": "Check Availability (Supabase Only)",
    "nodes": [
        {
            "parameters": {
                "path": "availability",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                32,
                -80
            ],
            "id": "d2367908-d7f2-45ca-b426-fbc9d8188978",
            "name": "Webhook",
            "webhookId": "ad244579-700a-401a-b341-81d34547f68a"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "bookings",
                "returnAll": true,
                "filterType": "string",
                "filterString": "={{ 'and=(start_time.gte.' + $json.query.date + 'T00:00:00,start_time.lte.' + $json.query.date + 'T23:59:59,clinic_id.eq.' + $json.query.clinicId + ')' }}"
            },
            "alwaysOutputData": true,
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                256,
                -80
            ],
            "id": "718a06e6-66f8-4934-80eb-04310a829155",
            "name": "Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "dlNOvdwAbyq59XOl",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Inputs\nconst webhookData = $('Webhook').first();\nconst requestedDate = webhookData ? webhookData.json.query.date : null;\n\nif (!requestedDate) {\n  return { slots: [] };\n}\n\n// Safely get bookings (default to empty array if none found)\nlet dbBookings = [];\n\ntry {\n  dbBookings = $('Supabase').all().map(item => item.json);\n} catch(e) {}\n\n// SLOT LOCK FILTERING: Only consider bookings that actually block availability\nconst now = Date.now();\nconst blockedBookings = dbBookings.filter(booking => {\n  // Confirmed/completed always block\n  if (booking.status === 'confirmed' || booking.status === 'completed') {\n    return true;\n  }\n  // Pending with active lock blocks\n  if (booking.status === 'pending' && booking.slot_lock_expires_at) {\n    const lockExpiry = new Date(booking.slot_lock_expires_at).getTime();\n    return lockExpiry > now;\n  }\n  // Cancelled or expired locks don't block\n  return false;\n});\n\n// Configuration: Clinic Hours (09:00 - 17:00)\nconst startHour = 9;\nconst endHour = 17;\nconst slotDurationMinutes = 60;\n\n// Generate slots\nconst slots = [];\nfor (let h = startHour; h < endHour; h++) {\n  const timeStr = `${h.toString().padStart(2, '0')}:00`;\n  const slotIso = `${requestedDate}T${timeStr}:00`;\n  slots.push({ time: timeStr, iso: slotIso, available: true });\n}\n\n// Helper: Check overlap\nconst isBusy = (slotIso, busyStartIso, busyEndIso) => {\n  if (!busyStartIso || !busyEndIso) return false;\n  const slotStart = new Date(slotIso).getTime();\n  const slotEnd = slotStart + (slotDurationMinutes * 60 * 1000);\n  const busyStart = new Date(busyStartIso).getTime();\n  const busyEnd = new Date(busyEndIso).getTime();\n  return (slotStart < busyEnd && slotEnd > busyStart);\n};\n\n// Filter availability using only Supabase data\nconst finalSlots = slots.map(slot => {\n  let isTaken = false;\n\n  for (const booking of blockedBookings) {\n    if (booking && isBusy(slot.iso, booking.start_time, booking.end_time)) {\n      isTaken = true;\n      break;\n    }\n  }\n\n  return { time: slot.time, available: !isTaken };\n});\n\nreturn { slots: finalSlots };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                -80
            ],
            "id": "c4fe87dd-5e14-424e-874a-f5a05a63f088",
            "name": "Availability Logic"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase": {
            "main": [
                [
                    {
                        "node": "Availability Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "edb1e678c20bb2dc211861028fa5a0da62086103c19f921423bcdc604ef1f332"
    }
}