workflows/n8n-2-stripe-confirmation.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stripe-confirmation-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -256,
                -48
            ],
            "id": "3236ed89-d5f5-40f3-9df3-3694384ae40b",
            "name": "Webhook",
            "webhookId": "45c1830b-9364-4b68-9c7d-e8ea2dade456"
        },
        {
            "parameters": {
                "jsCode": "// ROBUST DATA EXTRACTION v3\\n// Handles both direct ($json) and wrapped ($json.body) webhook data\\n\\nconst item = $input.first();\\nconst rawJson = item.json;\\n\\n// Handle both: $json.body (wrapped) and $json (direct)\\nconst eventData = rawJson.body || rawJson;\\n\\n// Check if this is a checkout.session.completed event\\nconst eventType = eventData.type;\\nif (eventType !== 'checkout.session.completed') {\\n  console.log('Skipping non-checkout event:', eventType);\\n  return []; // Return empty to stop the flow\\n}\\n\\nconsole.log('Processing checkout.session.completed event');\\n\\n// Safely access nested objects\\nconst dataObject = eventData?.data?.object || {};\\nconst metadata = dataObject.metadata || {};\\nconst customerDetails = dataObject.customer_details || {};\\n\\nconsole.log('Metadata:', JSON.stringify(metadata));\\nconsole.log('Customer Details:', JSON.stringify(customerDetails));\\n\\n// 1. Customer Name\\nconst customerName = customerDetails.name || metadata.customer_name || 'Valued Patient';\\n\\n// 2. Customer Email\\nlet customerEmail = customerDetails.email || metadata.customer_email;\\nif (!customerEmail) {\\n  console.error('ERROR: No email found!');\\n  customerEmail = 'missing-email@error.com';\\n}\\n\\n// 3. Phone\\nconst rawPhone = customerDetails.phone || metadata.phone || metadata.customer_phone || '';\\n\\n// 4. Amount\\nconst amountPaid = ((dataObject.amount_total || 0) / 100).toFixed(2);\\n\\n// 5. Booking Date/Time\\nconst bookingDate = metadata.booking_date;\\nconst bookingTime = metadata.booking_time;\\n\\nif (!bookingDate || !bookingTime) {\\n  console.error('ERROR: Missing booking date or time!', { bookingDate, bookingTime });\\n}\\n\\n// 6. Calculate Start/End Times\\nlet eventStart = null;\\nlet eventEnd = null;\\n\\nif (bookingDate && bookingTime) {\\n  const startDate = new Date(`${bookingDate}T${bookingTime}:00`);\\n  eventStart = startDate.toISOString();\\n  const endDate = new Date(startDate.getTime() + 60 * 60 * 1000);\\n  eventEnd = endDate.toISOString();\\n}\\n\\n// 7. Language Detection - IMPROVED\\n// Priority 1: Use language from widget metadata (most reliable - user's actual selection)\\n// Priority 2: Fall back to phone-based detection (for legacy data or missing metadata)\\nlet lang = 'lv'; // Default to Latvian\\n\\nif (metadata.language) {\\n  // Widget sends 'LV' or 'EN', normalize to lowercase\\n  lang = metadata.language.toLowerCase();\\n  console.log('Language from metadata:', lang);\\n} else {\\n  // Fallback: Phone-based detection (legacy behavior)\\n  const phone = rawPhone.replace(/\\\\D/g, '');\\n  const isLatvian = !phone || phone.startsWith('371') || (phone.length === 8 && !phone.startsWith('00'));\\n  lang = isLatvian ? 'lv' : 'en';\\n  console.log('Language from phone fallback:', lang, 'Phone:', phone);\\n}\\n\\n// 8. Email Content\\nlet emailSubject, emailBody;\\nif (lang === 'lv') {\\n  emailSubject = '✅ Vizīte apstiprināta - Butkeviča Dental';\\n  emailBody = `Labdien, ${customerName}!\\\\n\\\\nPaldies par Jūsu maksājumu €${amountPaid} apmērā!\\\\n\\\\nJūsu zobārstniecības vizīte ir apstiprināta:\\\\n📅 Datums: ${bookingDate}\\\\n⏰ Laiks: ${bookingTime}\\\\n\\\\nGaidīsim Jūs!\\\\n\\\\nAr cieņu,\\\\nButkeviča Dental Practice`;\\n} else {\\n  emailSubject = '✅ Appointment Confirmed - Butkeviča Dental';\\n  emailBody = `Hi ${customerName},\\\\n\\\\nThank you for your payment of €${amountPaid}!\\\\n\\\\nYour dental appointment is confirmed:\\\\n📅 Date: ${bookingDate}\\\\n⏰ Time: ${bookingTime}\\\\n\\\\nWe look forward to seeing you!\\\\n\\\\nBest regards,\\\\nButkeviča Dental Practice`;\\n}\\n\\n// 9. Generate booking reference (will be replaced by actual DB ID after insert)\\n// Using timestamp + random suffix as temporary reference until we get DB ID\\nconst tempBookingRef = `BK-${Date.now().toString(36).toUpperCase()}`;\\n\\n// 10. GDPR-Compliant Calendar Description (NO PII)\\n// Dashboard URL - update this to your actual dashboard URL\\nconst dashboardBaseUrl = 'https://butkevica-dental-booking.pages.dev/dashboard/appointments';\\nconst calendarDescription = `📋 View full details in secure dashboard\\\\n\\\\n🔒 Patient information protected under GDPR Art. 9\\\\n\\\\n⏰ Duration: 1 hour`;\\n\\nconst result = {\\n  // For Database\\n  customer_name: customerName,\\n  customer_email: customerEmail,\\n  phone: rawPhone,\\n  language: lang,\\n  service_id: metadata.service_id || null,\\n  service_name: metadata.serviceName || 'Dental Appointment',\\n  start_time: eventStart,\\n  end_time: eventEnd,\\n  amount_paid: parseFloat(amountPaid),\\n  status: 'confirmed',\\n  stripe_payment_id: dataObject.payment_intent || dataObject.id,\\n  \\n  // For Email (PII allowed - sent directly to patient)\\n  email_subject: emailSubject,\\n  email_body: emailBody,\\n  \\n  // For Calendar (GDPR PSEUDONYMIZED - no PII)\\n  calendar_summary: `Vizīte ${tempBookingRef}`,\\n  calendar_description: calendarDescription,\\n  calendar_start: eventStart,\\n  calendar_end: eventEnd,\\n  booking_ref: tempBookingRef,\\n  dashboard_url: dashboardBaseUrl\\n};\\n\\nconsole.log('Extracted data:', JSON.stringify(result));\\n\\n// n8n Code node v2 requires items wrapped as {json: ...}\\nreturn [{json: result}];"
            },
            "name": "Extract Booking Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                -48
            ],
            "id": "dc471cbb-1e1a-4fb2-97af-9d76d46b6d13"
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "bookings",
                    "mode": "list",
                    "cachedResultName": "bookings"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "customer_name": "={{ $json.customer_name }}",
                        "customer_email": "={{ $json.customer_email }}",
                        "phone": "={{ $json.phone }}",
                        "language": "={{ $json.language }}",
                        "service_id": "={{ $json.service_id }}",
                        "service_name": "={{ $json.service_name }}",
                        "start_time": "={{ $json.start_time }}",
                        "end_time": "={{ $json.end_time }}",
                        "amount_paid": "={{ $json.amount_paid }}",
                        "status": "={{ $json.status }}",
                        "stripe_payment_id": "={{ $json.stripe_payment_id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "customer_name",
                            "displayName": "customer_name",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "id": "customer_email",
                            "displayName": "customer_email",
                            "required": true,
                            "type": "string"
                        },
                        {
                            "id": "phone",
                            "displayName": "phone",
                            "required": false,
                            "type": "string"
                        },
                        {
                            "id": "language",
                            "displayName": "language",
                            "required": false,
                            "type": "string"
                        },
                        {
                            "id": "service_id",
                            "displayName": "service_id",
                            "required": false,
                            "type": "string"
                        },
                        {
                            "id": "service_name",
                            "displayName": "service_name",
                            "required": false,
                            "type": "string"
                        },
                        {
                            "id": "start_time",
                            "displayName": "start_time",
                            "required": true,
                            "type": "dateTime"
                        },
                        {
                            "id": "end_time",
                            "displayName": "end_time",
                            "required": true,
                            "type": "dateTime"
                        },
                        {
                            "id": "amount_paid",
                            "displayName": "amount_paid",
                            "required": false,
                            "type": "number"
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "type": "string"
                        },
                        {
                            "id": "stripe_payment_id",
                            "displayName": "stripe_payment_id",
                            "required": false,
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                250,
                -48
            ],
            "id": "f4547830-44c5-4e67-8ec7-f7d6515c0552",
            "name": "Save to Database",
            "credentials": {
                "postgres": {
                    "id": "GuG495s0j2amZHOv",
                    "name": "Postgres account 2"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Extract Booking Data').first().json.customer_email }}",
                "subject": "={{ $('Extract Booking Data').first().json.email_subject }}",
                "emailType": "text",
                "message": "={{ $('Extract Booking Data').first().json.email_body }}",
                "options": {}
            },
            "name": "Send Confirmation Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                500,
                -48
            ],
            "id": "ff881ec9-33dc-42b4-b4eb-1144aa237f61",
            "credentials": {
                "gmailOAuth2": {
                    "id": "bsHsQyITlAn3DBQk",
                    "name": "Gmail account"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $('Extract Booking Data').first().json.calendar_start }}",
                "end": "={{ $('Extract Booking Data').first().json.calendar_end }}",
                "additionalFields": {
                    "summary": "={{ $('Extract Booking Data').first().json.calendar_summary }}",
                    "description": "={{ $('Extract Booking Data').first().json.calendar_description }}"
                }
            },
            "id": "calendar-stripe-flow",
            "name": "Add to Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                750,
                -48
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manual-calendar-sync",
                "options": {}
            },
            "id": "63c5bb28-1b05-4583-b1e3-2ae5ffe5aff5",
            "name": "Manual Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -176,
                200
            ],
            "webhookId": "60860d87-19b1-4f7e-8637-ccd82a74e333"
        },
        {
            "parameters": {
                "jsCode": "// Manual Calendar Sync - Format Data (GDPR COMPLIANT)\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.booking_date || !body.booking_time) {\n  throw new Error('Missing Date or Time');\n}\n\nconst startDate = new Date(`${body.booking_date}T${body.booking_time}:00`);\nconst endDate = new Date(startDate.getTime() + 60 * 60 * 1000);\n\n// Generate GDPR-compliant booking reference\nconst bookingRef = body.booking_id ? `#${body.booking_id}` : `BK-${Date.now().toString(36).toUpperCase()}`;\n\nreturn [{\n  event_start: startDate.toISOString(),\n  event_end: endDate.toISOString(),\n  summary: `Vizīte ${bookingRef}`,\n  description: `📋 View full details in secure dashboard\\n\\n🔒 Patient information protected under GDPR Art. 9\\n\\n⏰ Duration: 1 hour`\n}];"
            },
            "id": "5f5b276e-80e9-46a6-9489-d6c278e06be0",
            "name": "Format Manual Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                100,
                200
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $json.event_start }}",
                "end": "={{ $json.event_end }}",
                "additionalFields": {
                    "summary": "={{ $json.summary }}",
                    "description": "={{ $json.description }}"
                }
            },
            "id": "6ade1abc-a235-473c-a05c-9fc26b9e996c",
            "name": "Manual Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                350,
                200
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Booking Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Booking Data": {
            "main": [
                [
                    {
                        "node": "Save to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Database": {
            "main": [
                [
                    {
                        "node": "Send Confirmation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Confirmation Email": {
            "main": [
                [
                    {
                        "node": "Add to Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Webhook": {
            "main": [
                [
                    {
                        "node": "Format Manual Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Manual Data": {
            "main": [
                [
                    {
                        "node": "Manual Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "edb1e678c20bb2dc211861028fa5a0da62086103c19f921423bcdc604ef1f332"
    }
}